.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a0606;
  border: 1px solid #8a0606;
  color: #ededed;
  padding: 0.25rem 2rem;
  border-radius: 7px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #640303;
  border-color: #640303;
}
